---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../static/css/styles.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const pageTitle = "Kevin McDonald Nettey";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Subtitle</h2>
</BaseLayout>
		