---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../static/css/styles.css';
const pageTitle = "Kevin McDonald Nettey";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Subtitle</h2>
</BaseLayout>
		