---
const pageTitle = "Projects";
import '../static/css/styles.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');
---
<BaseLayout pageTitle={pageTitle}>
  {
    allProjects.map((project) => 
    <h2><a href={project.url}>{project.frontmatter.title}</a></h2>
    <p>{project.frontmatter.description}</p>
  )}
  
</BaseLayout>