---
const platform = "LinkedIn"
const username = "kevin-nettey"
---

<div class="footer-background">
    <footer>
        <p>See everything that I have worked on <a href={`https://www.${platform}.com/in/${username}`}>{platform}</a>!</p>
    </footer>
</div>

<style>
    a {
        padding: 0.25rem 0.5rem;
        color: white;
        background-color: #0a66c2;
        text-decoration: none;
    }
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        bottom: 0;
        position: fixed;
        background-color: white;
    }
    .footer-background {
        width: 100%;
        height: 3vh;
        overflow: hidden;
    }
</style>